.md-tabs
  .md-card
    padding 15px
    // box-shadow none
    margin-bottom 0px
  .indicator-container
    width 100%
    .indicator
      bottom 0
      display block
      background-color #fff59d
      height 2px
      margin-top -2px
      position relative
      transition left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms
  .md-tab-buttons
    height 48px
    min-height 48px
    display flex
    flex-direction row
    .md-button
      flex 1
      margin 0
      display table-cell
      text-align center
      vertical-align middle
      height 48px
      min-height 48px
      color rgba(255,255,255,1)
      outline none
      font-size 14px
      font-weight 500
      white-space initial
      box-sizing border-box
      border-radius 0
      min-width 0
      text-overflow ellipsis
